#root {
  max-width: 1280px; 
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  background: #dfe0e2b1;
}
form  {
  background-color:white;
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 10px;
}
hr {
  background-color: red;
}
